@{
    ViewData["Title"] = "Sales";
}


<html>
<head>

    <link rel="stylesheet" type="text/css" href="~/css/Home.css">
    <link rel="stylesheet" type="text/css" href="~/css/small_things.css">

    <script type="text/javascript" src="~/js/Home.js"></script>

</head>

<body>


    <div class="okno floating-button_home" href="/Category/Save"> 
        ПОМОГИТЕ
    </div>



</body>


</html>
